body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Georgia', serif; /* Fuente bonita y elegante */
    background: linear-gradient(135deg, #013C4A 0%, #0086AD 100%); /* Gradiente azul petróleo */
}

.container {
    text-align: center;
    transform: translateY(-10%); /* Mueve los botones un poquito hacia arriba */
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombreado al título */
}

button {
    padding: 15px 30px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #fff; /* Línea de bisel */
    border-radius: 5px;
    background-color: transparent;
    color: white;
    transition: all 0.3s ease;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Cambio de color al pasar el ratón */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Sombra al pasar el ratón */
}

#onButton {
    background-color: #4CAF50; /* Verde */
}

#onButton:hover {
    background-color: #45a049;
}

#offButton {
    background-color: #f44336; /* Rojo */
}

#offButton:hover {
    background-color: #da190b;
}
